#!/bin/bash

IPSET_NAME="my_whitelist"
WHITELIST_FILE="/root/whitelist.txt"
WHITELIST_Backup="/root/my_whitelist.txt"

if ! command -v ipset &> /dev/null; then
    echo "ipset not found, installing..."
    sudo apt-get update && sudo apt-get install -y ipset
else
    echo "ipset is already installed."
fi

# Create the IP set if it doesn't exist
if ! sudo ipset list "$IPSET_NAME" &> /dev/null; then
    ipset restore < $WHITELIST_Backup

    sudo ipset create "$IPSET_NAME" hash:net
else
    echo "IP set $IPSET_NAME already exists."
fi

# Create iptables rule to allow traffic from IP set
echo "Creating iptables rule to allow traffic from IP set $IPSET_NAME..."
sudo iptables -A INPUT -m set --match-set "$IPSET_NAME" src -j ACCEPT

# Set default INPUT policy to DROP
echo "Setting default INPUT policy to DROP..."
sudo iptables -P INPUT DROP

# Save iptables and ipset configurations
echo "Saving iptables and ipset configurations..."
sudo iptables-save > /etc/iptables/rules.v4
sudo ipset save > /etc/ipset.conf

# Ensure ipset is restored on boot
echo "Ensuring ipset configuration is restored on boot..."
echo "ipset restore < /etc/ipset.conf" | sudo tee -a /etc/rc.local
sudo chmod +x /etc/rc.local

echo "Whitelist setup complete!"