config:
  outputs: |
    [OUTPUT]
        Name              es
        Match             **
        Host              ## Example: 5.34.202.235
        Port              ## Example: 9200
        Index             my-index
        Trace_Error       On
        Trace_Output      On

    [OUTPUT]
        Name es
        Match kube.*
        Host 5.34.202.235
        Trace_Error On
        Trace_Output On
        Retry_Limit False

    [OUTPUT]
        Name es
        Match host.*
        Host 5.34.202.235
        Trace_Error  On
        Trace_Output On
        Retry_Limit False
