*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A FORWARD -i {{ wireguard_interface }} -o {{ private_eth }} -j ACCEPT
-A FORWARD -i {{ private_eth }} -o {{ wireguard_interface }} -j ACCEPT
COMMIT

*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
-A POSTROUTING -o {{ private_eth }} -j MASQUERADE
COMMIT